<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eona_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Eona_Launcher.My.MySettings>
            <setting name="dbhost" serializeAs="String">
                <value>eona.gamevolution.de</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>eona</value>
            </setting>
            <setting name="passwort" serializeAs="String">
                <value>ycaaLzj6ns3yuAeS</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>gvnw</value>
            </setting>
        </Eona_Launcher.My.MySettings>
    </applicationSettings>
</configuration>